:root {
    /* light Mode */
    --bg-light-color: #fff;
    --grey-light-color: #555;
    --main-light-color: #ffcc00d5;
}
::selection {
    color: var(--grey-light-color);
    background-color: #181a1b30;
}
::-moz-selection {
    color: var(--grey-light-color);
    background-color: #181a1b30;
}

/* Firefox */

* {
    scrollbar-width: auto;
    scrollbar-color: var(--grey-light-color) var(--bg-dark-color);
}
*::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-dark-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--grey-light-color);
    border-radius: 3px;
}

* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: ar-font;
    src: url(fonts/Cairo-SemiBold.ttf);
}

body {
    font-family: ar-font;
    direction: rtl;
    background: var(--bg-light-color);
}

header {
    /* height: calc(100vh - 20rem); */
    position: relative;
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header .logo {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    position: relative;
}

header .logo::before {
    content: "";
    width: 130px;
    height: 5px;
    background-color: rgb(115, 107, 94);
    display: block;
    position: absolute;
    bottom: 0;
    top: 15em;
    transform: translate(calc(1rem + 2px), -11.25rem);
    animation: 2s ease-in-out reval2 forwards;
    opacity: 1;
}

@keyframes reval2 {
    from {
        transform: translate(calc(1rem + 2px), -11.25rem);
    }

    50% {
        width: 150px;
        background-color: var(--main-light-color);
    }

    to {
        transform: translate(calc(1rem + 2px), 0);
    }
}

header .text h1 {
    color: var(--bg-light-color);
    text-align: center;
    font-size: 60px;
    padding: 1rem;
    padding-bottom: 0;
    line-height: 75px;
}
header .text p {
    color: var(--grey-light-color);
    font-size: var(--p-font);
    text-align: center;
    font-weight: bold;
    width: 40%;
    margin: auto;
}

header .timer {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 90px auto;
}

header .timer .details {
    font-size: 30px;
    color: var(--main-light-color);
    display: inline-block;
    margin: 0px 15px;
}

header .timer span {
    display: block;
    text-align: center;
}

header .timer span:first-of-type {
    color: var(--main-color);
    font-size: 60px;
}

header .send-notification p {
    font-size: 1.125rem;
    color: #fff;
    font-size: 1.125rem;
    color: #fff;
    margin: auto;
    width: 20%;
}

header .input-group {
    width: 30%;
    margin: auto;
    transform: translateY(30%);
}

header .send-notification .input-group button {
    background-color: var(--main-light-color);
    padding: 13px 33px;
    border-radius: 0;
}

header .send-notification .input-group input {
    border-radius: 0;
    border: 2px solidvar(--bg-light-color);
    color: var(--bg-light-color);
    font-size: 18px;
    text-align: right;
}

.invalid-feedback {
    margin-bottom: -30px;
}

section.features {
    padding: 100px 0;
}

section.features h2 {
    font-size: 45px;
    color: var(--grey-light-color);
    margin-bottom: 50px;
}

section.features .row .d-flex {
    border: 0.25rem solid var(--bg-light-color);
    padding: 2.5rem 0.625rem;
    margin-bottom: 1.25rem;
    max-height: 11.875rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
}

section.features .row .d-flex:hover {
    transform: translateY(-5px);
    transition: 0.5s;
}

section.features .row .d-flex h4 {
    font-size: 24px;
    color: var(--grey-light-color);
}

section.features .row .d-flex p {
    font-size: 15px;
    line-height: 25px;
    color: #a1a1a1;
}

section.features .row .col-md-6:nth-child(even) {
    direction: ltr;
}

footer {
    background-image: url(images/footer-bg.jpg);
    background-color: var(--bg-light-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

footer .notification {
    background-color: var(--main-light-color);
    padding: 70px 0;
}

footer .notification h3 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

footer .input-group {
    width: 30%;
    margin: auto;
}

footer .input-group input {
    border-radius: 0;
    font-size: 18px;
    color: #c7c7c7;
    border-color: var(--bg-light-color);
}

footer .input-group button {
    border-radius: 0;
    padding: 13px 33px;
    background-color: #393939;
}

::-webkit-input-placeholder {
    text-align: right;
    padding-right: 10px;
}

:-moz-placeholder {
    text-align: right;
    padding-right: 10px;
}

footer .social-media {
    background-color: rgb(57, 57, 57, 0.9);
    padding: 100px 0 30px;
}

footer .social-media h3 {
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--bg-light-color);
}
.list-inline {
    padding: 0;
}
.list-inline-item {
    margin-left: 0.5rem;
}

footer .social-media .list-inline a {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.15);
    color: var(--bg-light-color);
    display: block;
    transition: 0.5;
}

footer .social-media .list-inline a:hover {
    background-color: var(--main-light-color);
    color: rgb(57, 57, 57, 0.9);
    transform: translateY(-5px);
    transition: 0.5s;
}

footer .social-media a.email {
    color: var(--bg-light-color);
    text-decoration: none;
    transition: 0.5s;
}
footer .social-media a.email:hover {
    color: var(--main-light-color);
}

@media (max-width: 992px) {
    header .heading-page p {
        width: 70%;
    }

    .input-group {
        width: 50% !important;
    }

    section.features .row .d-flex {
        padding: 15px 10px;
    }

    section.features .row .d-flex h4 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    header .count-down {
        width: 80%;
    }
}

@media (max-width: 576px) {
    header .heading-page h1 {
        font-size: 45px;
    }

    header .heading-page p {
        width: 90%;
    }

    .input-group {
        width: 80% !important;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* dark Mode */
        --bg-dark-color: #181a1b;
        --grey-dark-color: hsl(38, 9%, 67%);
    }
    body {
        background: #181a1b;
        color: #d1cdc7;
    }
    header .send-notification .input-group input {
        background-color: var(--bg-dark-color);
        border: 0.125rem solid var(--grey-light-color);
    }
    section.features h2 {
        color: var(--grey-dark-color);
    }
    section.features .row .d-flex {
        border-color: #303436 !important;
        box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 5px 0px;
    }
    footer .notification {
        background-color: rgba(153, 122, 0, 0.84);
    }
    h4{
        color: #b2aca2 !important;
    }
}
